In [1]:
from tqdm import tqdm

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cv2
import os
import natsort
import keras
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D
from keras.layers import Dense, Flatten, Dropout
from keras.layers.normalization import BatchNormalization
from keras.preprocessing.image import img_to_array
from keras.preprocessing.image import ImageDataGenerator
from sklearn import model_selection
from keras.models import load_model
from sklearn.preprocessing import LabelBinarizer
from keras.callbacks import ModelCheckpoint
from keras.layers.advanced_activations import LeakyReLU
from keras.optimizers import Adam
from keras.callbacks import LearningRateScheduler


from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Using TensorFlow backend.

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [6]:
from zipfile import ZipFile
# file_name = "gdrive/My Drive/learning/cloth_prediction/test.zip"
file_name = "data/test.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [53]:
# test = pd.read_csv('gdrive/My Drive/learning/cloth_prediction/test.csv')
test = pd.read_csv('data/test.csv')
test.head()

      id
0  60001
1  60002
2  60003
3  60004
4  60005

In [14]:
from keras.models import load_model
# del model  # deletes the existing model
model = load_model('data/model_best2.hdf5')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [0]:
# model.predict(data)

TRAIN_DIR = 'test'

IMG_SIZE=100
id_label=[]
label=[]
i = 0
for img in tqdm(os.listdir(TRAIN_DIR)):
    path = os.path.join(TRAIN_DIR,img)
    img_data = cv2.imread(path)
    img_data = cv2.resize(img_data, (IMG_SIZE,IMG_SIZE))
    image=img_to_array(img_data)
    image = image/255.
    image = np.expand_dims(image, axis=0)
    id_label.append(img[:-4])
    classes = model.predict_classes(image)
    label.append(classes)

In [91]:
label[0]
id_label[0]

array([9])

'65518'

In [92]:

maxi = pd.DataFrame({'id':id_label,'label':label})
maxi['label'] = maxi['label'].str[0]
maxi = maxi.sort_values(by=['id'])
maxi.head()

         id  label
1050  60001      9
5283  60002      2
2283  60003      1
347   60004      1
4992  60005      6

In [94]:
maxi.head()
maxi.to_csv('data/sub3.csv',  index=False)

         id  label
1050  60001      9
5283  60002      2
2283  60003      1
347   60004      1
4992  60005      6